ul{
    display: flex;
    justify-content: space-around;
}
li{
    list-style: none;
}
.card a
{
    text-decoration: none;
    color: rgb(135, 0, 0);
}
nav a{
    margin: 0px 10px;
    text-decoration: none;
    color: rgb(247, 237, 237);
}
nav a:hover{
    color: rgb(135, 0, 0);
    transition: 0.5s ease-in-out;
}
nav
{
    height: 100%;
}
body
{
    font-family: Arial, sans-serif;
    background-color: rgb(10, 10, 10);
    height: 100vh;
}
.card {
  background: rgb(245, 235, 235);
  padding: 20px;
  margin: 15px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgb(160, 2, 2);
}

@media (max-width: 500px) {
   
  ul
  { 
    margin-top: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}